@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f8fafc;
}